.header{
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    background: rebeccapurple;
}
.homepagetext{
    text-align: center;
    color: brown;
    text-transform: uppercase;
    font-size: larger;
    scroll-margin-left: 1;
}